.btn{
    margin-left: 140px;
    margin-top: 10px;
    padding: 12px 30px 15px 30px;
    border: 1px solid rgb(185, 110, 255);
    background-color: rgb(96, 12, 173);
    color:white ;
    font-size: 25px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input {
    margin-top: 90px;
    margin-left: 130px;
    padding: 15px 35px 15px 35px;
    background-color: antiquewhite;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}
.parents{
    margin-top: 70px;
    margin-left: 450px;
    padding: 50px;
    width: 600px;
    height: 400px;
    background-color: blanchedalmond;
    border: 1px solid cornsilk;
    border-radius: 12px;
}