
.p-card{
    display: flex;
    width: 1320px;
    margin: auto;
    flex-wrap: wrap;
}

.card{

    background: aliceblue;
    padding: 20px;
    width: 300px;
    height: 200px;
    flex-basis: 23%;
    margin: 20px;
}